## Import all what we need.

In [71]:
import numpy as np
import pandas as pd

# Read .states File

```python

s_df[0] = s_df[0].map('{: >12d}'.format)      # i: State ID
s_df[1] = s_df[1].map('{: >12.6f}'.format)    # E: State energy in cm−1
s_df[2] = s_df[2].map('{: >6d}'.format)       # g_tot: Total state degeneracy
s_df[3] = s_df[3].map('{: >7.1f}'.format)     # J: J-quantum number (integer/half-integer)
s_df[4] = s_df[4].map('{: >12.6f}'.format)    # Delta_E: Energy uncertainty in cm−1(currently optional)
s_df[5] = s_df[5].map('{: >12.4E}'.format)    # lifetime: Lifetime in s (optional)
s_df[6] = s_df[6].map('{: >12.6f}'.format)    # g: Land ́eg-factor (optional)
s_df[n] = s_df[n].map('{: >12.6f}'.format)    # E: State energy in cm−1

```

In [27]:
read_path = '/mnt/data/exomol/exomol3_data/CN/12C-14N/Trihybrid/12C-14N__Trihybrid.states.bz2'
s_df = pd.read_csv(read_path, compression='bz2', sep='\s+', header=None)
s_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1,0.000000,6,0.5,0.001293,-1.000000e+00,2.002305,+,e,X(2SIGMA+),0,0,0.5,0.5,M,0.000000
1,2,2042.387527,6,0.5,0.000010,1.130000e-01,2.002304,+,e,X(2SIGMA+),1,0,0.5,0.5,M,2042.404057
2,3,4058.490117,6,0.5,0.000010,5.860000e-02,2.002302,+,e,X(2SIGMA+),2,0,0.5,0.5,M,4058.517064
3,4,6048.345767,6,0.5,0.002967,3.990000e-02,2.002299,+,e,X(2SIGMA+),3,0,0.5,0.5,M,6048.320909
4,5,8011.770912,6,0.5,0.003212,3.020000e-02,2.002295,+,e,X(2SIGMA+),4,0,0.5,0.5,M,8011.769574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27999,28000,57329.415050,726,120.5,1.000000,1.520000e-03,-0.008052,-,f,A(2PI),19,-1,0.5,-0.5,D,57329.415050
28000,28001,57991.602690,726,120.5,1.000000,6.310000e+01,-0.008180,-,f,X(2SIGMA+),21,0,-0.5,-0.5,D,57991.602690
28001,28002,58036.503240,726,120.5,1.000000,2.100000e-01,0.008194,-,f,A(2PI),20,-1,-0.5,-1.5,D,58036.503240
28002,28003,58309.198660,726,120.5,1.000000,3.210000e-04,-0.008049,-,f,A(2PI),20,-1,0.5,-0.5,D,58309.198660
28003,28004,58454.733760,726,120.5,5.000000,7.320000e-07,-0.008240,-,f,B(2SIGMA+),3,0,-0.5,-0.5,D,58454.733760

In [28]:
max(s_df[1].values)

58966.41556

### Save states file in specified format

In [30]:
s_df = s_df.sort_values(by=0) 
txt_path = '12C-14N__Trihybrid.states'
bz2_path = '12C-14N__Trihybrid.states.bz2'
states_fmt = '%12d %12.6f %6d %7.1f %12.6f %12.4E %12.6f %1s %1s %12s %3d %3d %5.1f %5.1f %2s %12.6f'
# np.savetxt(txt_path, s_df.values, fmt=states_fmt)      # Save as .states file
np.savetxt(bz2_path, s_df.values, fmt=states_fmt)        # Save as .states.bz2 file

### Fill all empty fields with NaN and replace nan to NaN

In [40]:
read_path = '/mnt/data/exomol/exomol3_data/SO2/32S-16O2/ExoAmes/32S-16O2__ExoAmes.states.bz2'
s_df = pd.read_csv(read_path, compression='bz2', sep='\s+', header=None)
s_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,0.000000,1,0,0.000001,inf,+,0.0,0.0,0.0,0.0,0.0,0.000000,Ma
1,2,517.872470,1,0,0.000003,1.07780,+,0.0,1.0,0.0,0.0,0.0,517.872609,Ma
2,3,1035.126485,1,0,0.000002,0.54381,+,0.0,2.0,0.0,0.0,0.0,1035.118794,Ma
3,4,1151.712963,1,0,0.000003,0.25173,+,1.0,0.0,0.0,0.0,0.0,1151.714304,Ma
4,5,1551.729102,1,0,0.000800,0.36585,+,0.0,3.0,0.0,0.0,0.0,1551.759779,Ma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270265,3270266,14992.850800,331,165,1.362986,NaN,-,NaN,NaN,NaN,NaN,NaN,14992.850804,Ca
3270266,3270267,14993.978560,331,165,1.363089,NaN,-,NaN,NaN,NaN,NaN,NaN,14993.978555,Ca
3270267,3270268,14996.543800,331,165,1.363322,NaN,-,NaN,NaN,NaN,NaN,NaN,14996.543796,Ca
3270268,3270269,14998.834940,331,165,1.363530,NaN,-,NaN,NaN,NaN,NaN,NaN,14998.834940,Ca
3270269,3270270,14999.680180,331,165,1.363607,NaN,-,NaN,NaN,NaN,NaN,NaN,14999.680180,Ca

In [46]:
states_df = s_df
states_df[4] = s_df[4].map('{: >12.6f}'.format).replace('         nan','         NaN')
states_df = states_df.sort_values(by=0).fillna('NaN')
states_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,0.000000,1,0,0.000001,inf,+,0.0,0.0,0.0,0.0,0.0,0.000000,Ma
1,2,517.872470,1,0,0.000003,1.0778,+,0.0,1.0,0.0,0.0,0.0,517.872609,Ma
2,3,1035.126485,1,0,0.000002,0.54381,+,0.0,2.0,0.0,0.0,0.0,1035.118794,Ma
3,4,1151.712963,1,0,0.000003,0.25173,+,1.0,0.0,0.0,0.0,0.0,1151.714304,Ma
4,5,1551.729102,1,0,0.000800,0.36585,+,0.0,3.0,0.0,0.0,0.0,1551.759779,Ma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270265,3270266,14992.850800,331,165,1.362986,NaN,-,NaN,NaN,NaN,NaN,NaN,14992.850804,Ca
3270266,3270267,14993.978560,331,165,1.363089,NaN,-,NaN,NaN,NaN,NaN,NaN,14993.978555,Ca
3270267,3270268,14996.543800,331,165,1.363322,NaN,-,NaN,NaN,NaN,NaN,NaN,14996.543796,Ca
3270268,3270269,14998.834940,331,165,1.363530,NaN,-,NaN,NaN,NaN,NaN,NaN,14998.834940,Ca
3270269,3270270,14999.680180,331,165,1.363607,NaN,-,NaN,NaN,NaN,NaN,NaN,14999.680180,Ca

# Read .trans Files

```python
# Read .trans file
read_path = 'filepath/iso-slug__datasetname.trans'
t_df = pd.read_csv(read_path, sep='\s+', header=None)

# Read .bz2 file
read_path = 'filepath/iso-slug__datasetname.trans.bz2'
t_df = pd.read_csv(read_path, compression='bz2', sep='\s+', header=None)

t_df[0] = t_df[0].map('{: >12d}'.format)     # i: Upper state ID
t_df[1] = t_df[1].map('{: >12d}'.format)     # f: Lower state ID
t_df[2] = t_df[2].map('{: >10.4E}'.format)   # A: EinsteinAcoefficient in s−1
t_df[3] = t_df[3].map('{: >15.6E}'.format)   # v: Transition wavenumber in cm−1(optional)

# Sort by frequency
t_df = t_df.sort_values(by=3) 
# Save to .bz2 file
t_df.to_csv('filepath/iso-slug__datasetname.trans.bz2', 
        sep=' ', quoting=csv.QUOTE_NONE,escapechar=' ', 
        header=None, index=False, compression='bz2')

```

In [49]:
read_path = '/mnt/data/exomol/exomol3_data/AlH/27Al-1H/AloHa/27Al-1H__AloHa.trans.bz2'
t_df = pd.read_csv(read_path, compression='bz2', sep='\s+', header=None)
t_df

         0    1              2
0       49   23       0.000036
1       47   22       0.000066
2       46   21       0.000104
3       45   20       0.000148
4       44   19       0.000194
...    ...  ...            ...
29720  104   51  767370.000000
29721  212  159  782720.000000
29722  129   80  760130.000000
29723  183  134  770500.000000
29724  158  105  762360.000000

[29725 rows x 3 columns]

In [52]:
# read_path = '/mnt/data/exomol/exomol3_data/AlH/27Al-1H/AloHa/27Al-1H__AloHa.trans'
# t_df = pd.read_csv(read_path, sep='\s+', header=None)
# t_df

# Sort trans file with frequency and then remove frequency column

In [53]:
molecule = 'AlH'
isotopologue = '27Al-2H'
dataset = 'AloHa'
ncolumn = 3
read_path = '/mnt/data/exomol/exomol3_data/'

In [54]:
# encoding: utf-8
import csv
import glob
import numpy as np
import pandas as pd
import numexpr as ne
from tqdm.notebook import tqdm
import warnings
warnings.simplefilter("ignore", np.ComplexWarning)
pd.options.mode.chained_assignment = None

def read_all_states(read_path):
    print('Reading states ...')
    s_df = dict()
    states_df = pd.DataFrame()
    states_filenames = glob.glob(read_path + molecule + '/' + isotopologue + '/' + dataset 
                                 + '/' + isotopologue + '__' + dataset + '.states.bz2')
    for states_filename in states_filenames:
        s_df[states_filename] = pd.read_csv(states_filename, compression='bz2', sep='\s+', header=None,
                                            chunksize=1_000_000, iterator=True, low_memory=False, dtype=object)
        for chunk in s_df[states_filename]:
            states_df = pd.concat([states_df, chunk])   
    states_df = states_df.rename(columns={0:'id',1:'E'})  
    
    print('Finished reading states!\n')                       
    return(states_df)

def get_transfiles(read_path):
    # Get all the transitions files from the folder including the older version files which are named by vn(version number).
    trans_filepaths_all = glob.glob(read_path + molecule + '/' + isotopologue + '/' + dataset + '/' + '*trans.bz2')
    num_transfiles_all = len(trans_filepaths_all)    # The number of all transitions files including the older version files.
    trans_filepaths = []    # The list of the lastest transitions files.
    for i in range(num_transfiles_all):
        split_version = trans_filepaths_all[i].split('__')[-1].split('.')[0].split('_')    # Split the filenames.
        num = len(split_version)
        if num == 1:     
            if split_version[0] == dataset:        
                trans_filepaths.append(trans_filepaths_all[i])
            if len(split_version[0].split('-')) == 2:
                trans_filepaths.append(trans_filepaths_all[i])
    return(trans_filepaths)    

def read_all_trans(read_path):
    print('Reading all transitions ...')
    t_df = dict()
    all_trans_df = pd.DataFrame()
    trans_filepaths = get_transfiles(read_path)
    for trans_filename in tqdm(trans_filepaths, position=0, leave=True, desc='Reading transitions'):
        t_df[trans_filename] = pd.read_csv(trans_filename, compression='bz2', sep='\s+', header=None,
                                           chunksize=100_000, iterator=True, low_memory=False)
        for chunk in t_df[trans_filename]:
            all_trans_df = pd.concat([all_trans_df,chunk])
    ncolumn = len(all_trans_df.columns)
    if ncolumn == 3: 
        trans_col_name={0:'u', 1:'l', 2:'A'}
    else:
        trans_col_name={0:'u', 1:'l', 2:'A', 3:'v'}
    all_trans_df = all_trans_df.rename(columns=trans_col_name)                
    print('Finished reading all transitions!\n')                         
    return(all_trans_df, ncolumn)

def cal_v(Ep, Epp):
    v = ne.evaluate('Ep - Epp')
    return(v)

states_df = read_all_states(read_path)
(all_trans_df, ncolumn) = read_all_trans(read_path)

Reading states ...
Finished reading states!

Reading all transitions ...

Reading transitions:   0%|          | 0/1 [00:00<?, ?it/s]

Finished reading all transitions!

In [55]:
states_df

,id,E,2,3,4,5,6,7,8,9,10,11
0,1,0.000000,18,0,0.000000,+,e,X(1SIGMA+),0,0,0,0
1,2,1181.934281,18,0,0.000000,+,e,X(1SIGMA+),1,0,0,0
2,3,2334.560594,18,0,0.000000,+,e,X(1SIGMA+),2,0,0,0
3,4,3458.421359,18,0,0.000000,+,e,X(1SIGMA+),3,0,0,0
4,5,4554.023427,18,0,0.000000,+,e,X(1SIGMA+),4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
50526,50527,29283.793145,2178,60,0.000273,-,f,A(1PI),391,-1,0,-1
50527,50528,29304.704698,2178,60,0.000273,-,f,A(1PI),392,-1,0,-1
50528,50529,29325.665010,2178,60,0.000273,-,f,A(1PI),393,-1,0,-1
50529,50530,29346.674073,2178,60,0.000273,-,f,A(1PI),394,-1,0,-1
50530,50531,29367.731884,2178,60,0.000273,-,f,A(1PI),395,-1,0,-1

In [56]:
max((states_df['E'].astype(float)).values)

29382.888321

In [60]:
id_u = all_trans_df['u'].values
id_l = all_trans_df['l'].values
states_df['id'] = pd.to_numeric(states_df['id'])
states_df.set_index(['id'], inplace=True, drop=False)
id_s = states_df['id']
all_trans_df.set_index(['u'], inplace=True, drop=False)
id_us = list(set(id_u).intersection(set(id_s)))
trans_us_df = all_trans_df.loc[id_us]
id_l = trans_us_df['l'].values
id_ls = list(set(id_l).intersection(set(id_s)))
trans_us_df.set_index(['l'], inplace=True, drop=False)
trans_v_df = trans_us_df.loc[id_ls]
id_su = trans_v_df['u'].values
id_sl = trans_v_df['l'].values
states_u_df = states_df.loc[id_su]
states_l_df = states_df.loc[id_sl]

Ep = states_u_df['E'].values.astype('float')
A = trans_v_df['A'].values.astype('float')

if ncolumn == 4:
    v = trans_v_df['v'].values.astype('float')
else:
    Epp = states_l_df['E'].astype('float')     # Upper state energy
    v = cal_v(Ep, Epp) 

trans_v_df['v'] = v
trans_v_df.sort_values('v',inplace=True)
trans_s_df = trans_v_df[['u','l','A']]

In [61]:
trans_v_df

       u    l            A             v
l
23    49   23     0.000041      3.817887
22    48   22     0.000043      3.910117
21    47   21     0.000046      4.038974
20    46   20     0.000047      4.167521
19    45   19     0.000048      4.294488
..   ...  ...          ...           ...
143  194  143  8642.100000  25059.137977
27    78   27  6484.600000  25059.719801
111  168  111  7801.800000  25061.641904
53   110   53  6686.400000  25061.887240
85   136   85  7140.600000  25062.541298

[36363 rows x 4 columns]

In [62]:
trans_s_df

       u    l            A
l
23    49   23     0.000041
22    48   22     0.000043
21    47   21     0.000046
20    46   20     0.000047
19    45   19     0.000048
..   ...  ...          ...
143  194  143  8642.100000
27    78   27  6484.600000
111  168  111  7801.800000
53   110   53  6686.400000
85   136   85  7140.600000

[36363 rows x 3 columns]

### Save transitions file(s)

In [65]:
trans_path = isotopologue+'__'+dataset+'.trans'
# trans_path = isotopologue+'__'+dataset+'.trans.bz2'
# trans_format = "%12d %12d %10.4e %15.6f"      # With frequency (4 columns)
trans_format = "%12d %12d %10.4e"               # Without frequency (3 columns)
np.savetxt(trans_path, trans_s_df, fmt=trans_format)

## Divide transitions to multiple transitions files

In [70]:
limit = max(trans_v_df['v'])
step = 1000
step_lower = np.arange(0, limit, step)
for lower in tqdm(step_lower):
    step_df = trans_v_df[(trans_v_df['v'] >= lower) & (trans_v_df['v'] < lower+step)]
    trans_s_df = trans_v_df[['u','l','A']]
    # filename = isotopologue+'__'+dataset+f'__{"{:05d}".format(int(lower))}-{"{:05d}".format(int(lower+step))}.trans'
    filename = isotopologue+'__'+dataset+f'__{"{:05d}".format(int(lower))}-{"{:05d}".format(int(lower+step))}.trans.bz2'
    print(filename)
    trans_format = "%12d %12d %10.4e"               # Without frequency (3 columns)
    np.savetxt(filename, trans_s_df, fmt=trans_format)

  0%|          | 0/26 [00:00<?, ?it/s]

27Al-2H__AloHa__00000-01000.trans.bz2
27Al-2H__AloHa__01000-02000.trans.bz2
27Al-2H__AloHa__02000-03000.trans.bz2
27Al-2H__AloHa__03000-04000.trans.bz2
27Al-2H__AloHa__04000-05000.trans.bz2
27Al-2H__AloHa__05000-06000.trans.bz2
27Al-2H__AloHa__06000-07000.trans.bz2
27Al-2H__AloHa__07000-08000.trans.bz2
27Al-2H__AloHa__08000-09000.trans.bz2
27Al-2H__AloHa__09000-10000.trans.bz2
27Al-2H__AloHa__10000-11000.trans.bz2
27Al-2H__AloHa__11000-12000.trans.bz2
27Al-2H__AloHa__12000-13000.trans.bz2
27Al-2H__AloHa__13000-14000.trans.bz2
27Al-2H__AloHa__14000-15000.trans.bz2
27Al-2H__AloHa__15000-16000.trans.bz2
27Al-2H__AloHa__16000-17000.trans.bz2
27Al-2H__AloHa__17000-18000.trans.bz2
27Al-2H__AloHa__18000-19000.trans.bz2
27Al-2H__AloHa__19000-20000.trans.bz2
27Al-2H__AloHa__20000-21000.trans.bz2
27Al-2H__AloHa__21000-22000.trans.bz2
27Al-2H__AloHa__22000-23000.trans.bz2
27Al-2H__AloHa__23000-24000.trans.bz2
27Al-2H__AloHa__24000-25000.trans.bz2
27Al-2H__AloHa__25000-26000.trans.bz2

# Read .pf File

```python

p_df_1[0] = p_df_1[0].map('{: >8.1f}'.format)     # T: Temperature in K
p_df_1[1] = p_df_1[1].map('{: >15.4f}'.format)    # Q: Partition function (dimensionless)
p_df_1[2] = p_df_1[2].map('{: >12.4E}'.format)    # W: Cooling function in ergs s−1molecule−1(if available)

```

In [17]:
read_path = '12C-14N__Trihybrid.pf'
p_df = pd.read_csv(read_path, sep='\s+', header=None)
p_df

           0              1
0       10.0      24.175662
1       20.0      46.173990
2       30.0      68.212083
3       40.0      90.260129
4       50.0     112.312611
..       ...            ...
995   9960.0  156479.149000
996   9970.0  156864.095000
997   9980.0  157249.578000
998   9990.0  157635.596000
999  10000.0  158022.150000

[1000 rows x 2 columns]

# Upload Large File from Google Drive to Exoweb Server

```python

XXXXX: File ID
YYYYY: Access token
ZZZZZ: Saved filename (e.g. myfile.zip)

curl -H "Authorization: Bearer YYYYY" https://www.googleapis.com/drive/v3/files/XXXXX?alt=media -o ZZZZZ

```

curl -H "Authorization: Bearer YYYYY" https://www.googleapis.com/drive/v3/files/XXXXX?alt=media -o ZZZZZ

curl -H "Authorization: Bearer ya29.a0ARrdaM9PAlLTAcT7D1mLBt2etE6wFG1G17Fq9z4dQ9HpOjYwc-xwfETiAX8w0tHucMQwBLQKdA0zFYBvMf3gSdwBS4o4rW9tmidwXvU6Gkxgx0BfiVzL3GuD5cKKCdnhajp4OkjPxLJDhsxnS0k4Lz0URLR2" https://www.googleapis.com/drive/v3/files/1vjiar-4CNihjV7ANa5vUYgIZ-kC2VtpB?alt=media -o 23Na-16O__NaOUCMe_trans.zip

curl -H "Authorization: Bearer ya29.a0ARrdaM82jW4gLwdirpMw5x-wLAFSkQfZlzvF6jRko7Whtt35Das2VWPDwZhEoGjlk8WII0vgTEPI78n-398KjryvTcsHeYRUBydJ1HEyzOH9vzGnxmpx8GdyzL5vdRcj6iFvgHYpEBc0nK6chF5dIY7nSNRg" https://www.googleapis.com/drive/v3/files/1UKXJOquNhO0PfDRibZ6g3hu3SVUTC5hP?alt=media -o 13C-15N__Trihybrid.trans.bz2